h1, p {
  font-family: Lato;
}

.cont{
  background-color:whitesmoke ;
  padding: 2px;
  margin: 2px;
}
.nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

}